:root{
  --navy-bg: rgba(25, 33, 61, 1);
  --green-color:  rgba(60, 183, 168, 1);
  ;
}
.navbar{
  background-color: var(--navy-bg);
}
li.nav-item Link.nav-link:hover{
  color: var(--green-color)
}


