.au-e2-container{
    padding: 5%;
    background-color: #F8F8F8;
    display: flex;
    flex-wrap: wrap;

    /**/
}

.au-man{
    float: left; 
    margin: 5px;
}

.au-e2-img-con{
    text-align: center;
}

.au-img-man{
    width: 376px;
    height: 449px;
    gap: 0px;
    opacity: 0px;

}

.au-card-title{
    font-family: "Inter";
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #3CB7A8;
}

.au-card-text{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #012572;
    padding: 0% 25% 0% 25%;
}

.au-card{
    background-color: #F8F8F8;
    border: none;

}

.au-paragraph-wrapper{
    top: 1713px;
    left: 749px;
    gap: 0px;
    opacity: 0px;
    color: #5E5F79;
    flex: 1;
    text-align: justify;
}

  