.navbar{
    background-color: var(--navy-bg);
    padding-top: 1.2rem; /* Adjust top padding */
    padding-bottom: 1.2rem; /* Adjust bottom padding */
    height: 85px;
  }
  
  a.nav-link.active.text-white{
    font-size: medium;
  }
  a.nav-link.active.text-white:hover{
  
   color: var(--green-color) !important;
   transition: all 300ms;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Change the icon color to white */
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none; /* Remove outline */
    box-shadow: none; /* Remove any box-shadow that might be added */
  }
  
  @media (max-width: 960px) {
    .navbar {
      height: auto; /* Allow navbar to adjust height based on content */
      padding-top: 0.5rem; /* Adjust padding for smaller screens */
      padding-bottom: 0.5rem;
    }
  
    .logo {
      margin-right: 1rem; /* Provide space between logo and menu icon */
    }
  }