.membership-card{
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.3);    
}

.mem-imgContainer{
    width: 88px;
    height: 88px;
    top: 35px;
    left: 34px;
    padding: 30px;
    margin-bottom: 20px;
    gap: 0px;
    border-radius: 24px 0px 0px 0px;
    opacity: 0px;
}