.header_21{
    color: #1A2447;
    font-family: "Inter";
    font-size: 46.5px;
    font-weight: 700;
    line-height: 63.98px;
    letter-spacing: 0.47999998927116394px;
    text-align: center;
}

.header_22{
    color: rgba(60, 183, 168, 1);;
    font-family: "Inter";
    font-size: 46.5px;
    font-weight: 700;
    line-height: 63.98px;
    letter-spacing: 0.47999998927116394px;
    text-align: center;
    margin-bottom: 40px;
}

.second_half{
    top: 500px;
    padding: 0px 50px 50px 50px;
    margin-bottom: 50px;
    
}

.dart{
    text-align: center;
}

.mycard{
    width: 378px;
    height: 504px;
    padding: 0px 32px 50px 32px;
    border-radius: 28p;
    opacity: 0px;
    box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.1);
    border: none;
}

.seperatorcard-2{
    width: 60px;
    margin-right: auto;
    height: 4px;    
    color: #3CB7A8;
    border: solid;
    opacity: 1;
}

.card-title{
    font-family: "Inter";
    font-size: 35px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.2800000011920929px;
    text-align: left;
    color: rgba(60, 183, 168, 1);

}

.card-title-2{
    font-family: "Inter";
    font-size: 35px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.2800000011920929px;
    text-align: left;
    color: #012572;
}

@media screen and (max-width: 900px){
    .second_half{
        top:1250px;
    }
}